Source: globalplatform
Priority: extra
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Simon Josefsson <simon@josefsson.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev, zlib1g-dev, libssl-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://globalplatform.sourceforge.net/
Vcs-Git: git://github.com/Yubico/globalplatform-dpkg.git
Vcs-Browser: https://github.com/Yubico/globalplatform-dpkg

Package: libglobalplatform-dev
Section: libdevel
Architecture: any
Depends: libglobalplatform6 (= ${binary:Version}), ${misc:Depends}
Description: development files for the GlobalPlatform library
 GlobalPlatform is a standard for handling applets, keys and security
 of smart cards (see www.globalplatform.org).
 GlobalPlatform Library provides an API for all GlobalPlatform
 related functions. It also provides an connection plugin framework.
 .
 This package contains files necessary to compile programs using GlobalPlatform
 library.

Package: libglobalplatform6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Recommends: globalplatform-connection-plugin | libgppcscconnectionplugin1
Description: library to handle communication with GlobalPlatform cards
 GlobalPlatform is a standard for handling applets, keys and security
 of smart cards (see www.globalplatform.org).
 GlobalPlatform Library provides an API for all GlobalPlatform
 related functions. It also provides an connection plugin framework.
